/* -------- Principal styles -------- */

.progressBars {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 40px 5px 0 -5px;
}

.progressLabel {
    background-color: rgba(77, 127, 207, 0.16);
    position: relative;
    top: 0;
    border: 2px solid rgba(37, 100, 218, .9);
    border-radius: 8px;
    height: 15px;    
}

.progressLabelTitle {
    font-family: "kumbh", sans-serif;
    font-size: .9em;
    position: relative;
    top: 3px;
    left: 3px;
}

.htmlProgress {
    position: relative;
    width: 50px;
    height: 1em;
    background-color:  rgba(77, 127, 207, 0.16);
    border-radius: .5em;
    color: black;
    left: 5px;
}

.htmlProgress:before {
    content: attr(data-html-lable);
    font-size: .8em;
    display: flex;
    align-items: center;
    position: absolute;
    left: .18em;
    top: .18em;
    bottom: .18em;
    width: calc(var(--width, 0) * 1%);
    min-width: 0;
    max-width: calc(100% - 0.33em);
    background-color: rgba(37, 100, 218, .7);
    border-radius: .33em;
    padding: 8px 0 0 0; 
}

.cssProgress {
    position: relative;
    width: 50px;
    height: 1em;
    background-color:  rgba(77, 127, 207, 0.16);
    border-radius: .5em;
    color: black;
    left: 5px;
}

.cssProgress::before {
    content: attr(data-css-lable);
    font-size: .8em;
    display: flex;
    align-items: center;
    position: absolute;
    left: .18em;
    top: .18em;
    bottom: .18em;
    width: calc(var(--width, 0) * 1%);
    min-width: 0;
    max-width: calc(100% - 0.33em);
    background-color: rgba(37, 100, 218, .7);
    border-radius: .33em;
    padding: 8px 0 0 0;
}

.jsProgress {
    position: relative;
    width: 50px;
    height: 1em;
    background-color:  rgba(77, 127, 207, 0.16);
    border-radius: .5em;
    color: black;
    left: 5px;
}

.jsProgress::before {
    content: attr(data-js-lable);
    font-size: .8em;
    display: flex;
    align-items: center;
    position: absolute;
    left: .18em;
    top: .18em;
    bottom: .18em;
    width: calc(var(--width, 0) * 1%);
    min-width: 0;
    max-width: calc(100% - 0.33em);
    background-color: rgba(37, 100, 218, .7);
    border-radius: .33em;
    padding: 8px 0 0 0;
}

main {
    position: relative;
    width: 240px;
    height: 400px;
    margin: 45px auto;
    display: block;
    border-radius: 8px;
}

h2 {
    font-family: "Kumbh", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    position: relative;
    top: 10px;
    left: 5px;
    width: 230px;
}

input {
    font-family: "kumbh", sans-serif;
    font-size: .8em;
    position: relative;
    top: 20px;
    left: 5px;
}

input:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
}

label {
    font-family: "Kumbh", sans-serif;
    font-size: .8em;
    position: relative;
    top: 17px;
    left: 5px;
    padding: 0 5px 0 0;
}

li > label {
    cursor: pointer;
}

button {
    position: absolute;
    height: 35px;
    width: 130px;
    font-family: "kumbh", sans-serif;
    font-size: 1.2em;
    background-color: rgba(37, 100, 218, 0.705);
    margin: auto;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgba(37, 100, 218, 0.9);
    border-radius: 10px;    
}

button:hover {
    background-color: rgba(37, 100, 218, 0.85);
    cursor: pointer;
}

li {
    list-style: none;
}

select {
    position: relative;
    top: 20px;
    left: 5px;
    font-family: "kumbh", sans-serif;
    font-size: 1em;
    max-width: 730px;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    background-color:  rgba(77, 127, 207, 0.205);
    border-color:  rgba(77, 127, 207, 0.206);
}

select:hover {
    background-color: rgba(77, 127, 207, 0.305); 
}

option {
    font-family: "kumbh", sans-serif;
    font-size: .8em;
}

.radioQuestion {
    display: block;
}

.checkboxQuestion {
    display: none;
}

.dropdownQuestion {
    display: none;
}

/* -------- Responsive styles -------- */

@media (min-width: 480px){
    .progressBar {
        margin: 40px 20px 0 -20px;
    }
    
    .progressLabel {
        height: 25px;
        left: 0;
    }

    .progressLabelTitle {
        top: 5px;
        left: 3px;
    }

    .htmlProgress {
       width: 80px;
       height: 1.5em;
       left: 0; 
    }
    
    .htmlProgress::before {
        font-size: 1.2em;
        padding: 12px 0 0 0;
    }
    
    .cssProgress {
        width: 80px;
        height: 1.5em;
        left: 0;  
    }
    
    .cssProgress::before {
        font-size: 1.2em;
        padding: 12px 0 0 0;
    }
    
    .jsProgress {
        width: 80px;
        height: 1.5em;
        left: 0;
    }

    .jsProgress::before {
        font-size: 1.2em;
        padding: 12px 0 0 0;
    }

    main {
        width: 440px;
        height: 450px;
    }

    h2 {
        top: 20px;
        left: 20px;
        font-size: 1.5em;
        width: 400px;
    }

    input {
        top: 40px;
        left: 20px;
        font-size: 1.5em; 
    }

    label {
        top: 38px;
        left: 20px;
        font-size: 1.2em;
    }

    button {
        height: 45px;
        width: 190px;
        font-size: 1.5em;
        bottom: 20px;
        right: 20px;
    }

    select {
        top: 40px;
        left: 20px;
        font-size: 1.2em;
        height: 35px;
        max-width: 400px;
        width: 260px;
    }
}

@media (min-width: 1024px){
    .progressBar {
        margin: 50px 40px 0 -40px;
    }
    
    .progressLabel {
        height: 40px;
        left: 5px;
    }

    .progressLabelTitle {
        font-size: 1.2em;
        top: 12px;
        left: 4px;
    }

    .htmlProgress {
        width: 130px;
        height: 2em;
        left: 5px; 
     }
     
     .htmlProgress::before {
        font-size: 1.5em;
        padding: 14px 0 0 0;
     }
     
     .cssProgress {
        width: 130px;
        height: 2em;
        left: 5px;  
     }
     
     .cssProgress::before {
        font-size: 1.5em;
        padding: 14px 0 0 0;
     }
     
     .jsProgress {
        width: 130px;
        height: 2em;
        left: 5px; 
     }
 
     .jsProgress::before {
        font-size: 1.5em;
        padding: 14px 0 0 0;
     }

    main {
        width: 640px;
    }

    h2 {
        top: 40px;
        left: 40px;
        width: 560px;
    }

    input {
        top: 60px;
        left: 40px;
    }

    label {
        top: 58px;
        left: 40px;
    }

    button {
        bottom: 40px;
        right: 40px;
    }

    select {
        top: 60px;
        left: 40px;
        font-size: 1.5em;
        height: 40px;
        width: 300px;
        max-width: 560px;
    }
}

@media (min-width: 2049px){
    .progressLabel {
        height: 100px;
        width: 150px;
        left: 5px;
    }

    .progressLabelTitle {
        font-size: 2.5em;
        top: 30px;
        left: 14px;
    }

    .htmlProgress {
        width: 350px;
        height: 4em;
        left: 5px; 
     }
     
     .htmlProgress::before {
        font-size: 2.5em;
        padding: 20px 0 0 0;
     }
     
     .cssProgress {
        width: 350px;
        height: 4em;
        left: 5px;  
     }
     
     .cssProgress::before {
        font-size: 2.5em;
        padding: 20px 0 0 0;
     }
     
     .jsProgress {
        width: 350px;
        height: 4em;
        left: 5px;
     }
 
     .jsProgress::before {
        font-size: 2.5em;
        padding: 20px 0 0 0;
     }

    main {
        width: 2000px;
    }

    h2 {
        font-size: 3.5em;
        top: 40px;
        left: 40px;
        width: 2000px;
    }

    input {
        top: 60px;
        left: 40px;
        width: 40px;
        height: 40px;
    }

    label {
        top: 58px;
        left: 40px;
    }
    
    li>label {
        font-size: 3.5em;
        margin: 30px 0 30px 0;
    }

    button {
        bottom: 440px;
        right: 40px;
        width: 350px;
        height: 2em;
        font-size: 3.5em;
    }

    select {
        top: 60px;
        left: 40px;
        font-size: 1.5em;
        height: 100px;
        width: 730px;
        max-width: 560px; 
    }
}

@media (min-height: 522px){
    main {
        height: 460px;
    }
}

@media (min-height: 721px){
    main {
        height: 597px;
    }
}

@media (min-height: 1081px){
    main {
        height: 1690px;
    }
}


/* -------- Animation styles --------*/

@keyframes questionAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes questionAnimation2 {
    from {
        transform: scale(.1);
    }
    to {
        transform: scale(1);
    }
}